<p>Testing infrastructure working</p>
<h1> Let's Battle! </h1>
<h3> What is your warrior name, player?</h3>
<form action="/names" method="post">
  <input type="text" name="player_name_one">
  <input type="text" name="player_name_two">
  <input type="submit" value="Submit">
</form>
